.home {
  background-color: #111;
  min-height: 100vh;

  padding-top: 100px; // pushes content below header
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
}
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE */
body {
  -ms-overflow-style: none;
}