.movieCard {
  min-width: 180px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.movieCard:hover {
  transform: scale(1.1);
}

.movieCard__image {
  width: 100%;
  border-radius: 6px;
}

.movieCard__title {
  font-size: 14px;
  margin-top: 6px;
  text-align: center;
}